<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de vencimentos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <figcaption>
            <img src="/img/logo.png" alt="Logotipo do carrefour">
        </figcaption>
        <nav>
            <a href="/">Início</a>
            <a href="/user/cadastrar">Novo usuário</a>
            <a href="#">Login</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <h2>Mapa do site</h2>
        <div class="colunas">
            <div class="coluna">
                <h3>Usuários</h3>
                <ul>
                    <li><a href="/user/cadastrar">Novo usuário</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <div class="coluna">
                <h3>Vencimentos</h3>
                <ul>
                    <li><a href="#">Cadastrar vencimento</a></li>
                    <li><a href="#">Meus vencimentos</a></li>
                    <li><a href="#">Filtrar por produto</a></li>
                    <li><a href="#">Filtrar por fornecedor</a></li>
                    <li><a href="#">Filtrar por data</a></li>
                </ul>
            </div>
            <div class="coluna">
                <h3>Produzido por Sandro da Paixão Coelho</h3>
                <p>Sandrocoelho2023c@gmail.com</p>
                <p><a href="#">Instagram</a></p>
            </div>

        </div>

    </footer>
</body>

</html>