<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de vencimentos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <figcaption></figcaption>
        <nav>
            <a href="#">Início</a>
            <a href="#">Novo usuário</a>
            <a href="#">Login</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    {{{body}}}
</body>

</html>