<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de vencimentos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <figcaption></figcaption>
        <nav>
            <a href="#">Início</a>
            <a href="#">Novo usuário</a>
            <a href="#">Login</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <h2>Mapa do site</h2>
        <div class="coluna">
            <h2>Usuários</h2>
            <ul>
                <li><a href="#">Novo usuário</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <div class="coluna">
            <h2>Vencimentos</h2>
            <ul>
                <li><a href="#">Cadastrar vencimento</a></li>
                <li><a href="#">Meus vencimentos</a></li>
                <li><a href="#">Filtrar por produto</a></li>
                <li><a href="#">Filtrar por fornecedor</a></li>
                <li><a href="#">Filtrar por data</a></li>
            </ul>
        </div>
        <div class="coluna">
            <h2>Produzido por Sandro da Paixão Coelho</h2>
            <p>Sandrocoelho2023c@gmail.com</p>
            <p><a href="#">Instagram</a></p>
        </div>

    </footer>
</body>

</html>