<div class="container-logado">

    <ul>
        <li>
            <form action="#">
                <input type="hidden" name="passarUsuario1" value="{{pessoa2.id}}">
                <input type="submit" value="Meus vencimentos">
            </form>
        </li>
        <li>
            <form action="/vencimentos/cadastrar/{{pessoa2.id}}">
                <input type="submit" value="Cadastrar Vencimento">
            </form>
        </li>



    </ul>
</div>
<div class="container-cadastrarVencimentos">

    <div class="cadastrarVencimento2">
        <h2>Cadastre aqui o produto a ser controlado</h2>
        <form action="#">
            <div class="dados">
                <div class="campos">
                    <label for="ean">Código do produto:</label>
                    <input type="text" name="ean" placeholder="Dgite o código do produto">
                </div>
                <div class="campos">
                    <label for="produto">Produto:</label>
                    <input type="text" name="produto" placeholder="Nome do produto">
                </div>
                <div class="campos">
                    <label for="fornecedor">Fornecedor:</label>
                    <input type="text" name="fornecedor" placeholder="Digite o fornecedor">
                </div>
                <div class="campos">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" name="quantidade" placeholder="Qual a quantidade de produtos?">
                </div>
                <div class="campos">
                    <label for="dataVencimetno">Data de vencimento:</label>
                    <input type="date" name="dataVencimento">
                </div>
            </div>
            <div class="botoes">
                <input type="submit" value="Cadastrar vencimento">
                <input type="reset" value="Limpar dados">
            </div>
        </form>
    </div>

</div>