<div class="container-inicio">
    <figcaption class="banner">
        <img src="/img/logo.png" alt="Banner do canal">

    </figcaption>
    <h2>Bem vindos ao site de Gestão de vencimentos do Carrefour</h2>
</div>