<div class="container-logado">

    <ul>
        <li>
            <form action="#">
                <input type="hidden" name="passarUsuario1" value="{{pessoa2.id}}">
                <input type="submit" value="Meus vencimentos">
            </form>
        </li>
        <li>
            <form action="/vencimentos/cadastrar/{{pessoa2.id}}">
                <input type="submit" value="Cadastrar Vencimento">
            </form>
        </li>



    </ul>

    <h2>Bem vindo {{pessoa2.user}}</h2>


</div>