<div class="container-login">
    <div class="login2">
        <h2>Faça login em nosso sistema</h2>
        <form action="/user/entrar" method="post">
            <div class="dados">
                <div class="campos">
                    <label for="user3">Usuário</label>
                    <input type="text" name="user3" placeholder="Digite a senha">
                </div>
                <div class="campos">
                    <label for="senha3">Senha:</label>
                    <input type="text" name="senha3" placeholder="Digite a senha">
                </div>
            </div>
            <div class="botoes">
                <input type="submit" value="Validar">
                <input type="reset" value="limpar">
            </div>
        </form>
    </div>

</div>