<div class="container-formUsuario">
    <div class="formUsuario2">
        <h2>Crie seu cadastro:</h2>
        <form action="/user/novoUsuario" method="post" class="formUsuario">
            <div class="dados">
                <div class="campos">
                    <label for="user">Login:</label>
                    <input type="text" name="user" placeholder="Digite o nome do usuário">
                </div>
                <div class="campos">
                    <label for="senha">Senha:</label>
                    <input type="text" name="senha" placeholder="Digite a senha">
                </div>
                <div class="campos">
                    <label for="senha2">Repita a senha:</label>
                    <input type="text" name="senha2" placeholder="Digite de novo a senha">
                </div>
            </div>
            <div class="botoes">
                <input type="submit" value="Cadastrar">
                <input type="reset" value="limpar campos">
            </div>
        </form>
    </div>

</div>