* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    background-color: #2e2ee9;
    color: #fff;
    height: 50px;
}

figcaption img {
    width: 50px;
    height: 50px;
    border: 1px solid #2e2ee9;
}

nav a {
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;

}

nav a:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

/* container princiapl do main (container) */
.container {
    min-height: 640px;
}

/* rodapé */

footer {
    background-color: #2e2ee9;
    color: white;
    padding: 10px;
}

.colunas {
    display: flex;
    justify-content: space-around;
}

.coluna a {
    text-decoration: none;
    color: #fff;

}

.coluna ul {
    list-style: none;
}

.coluna a:hover {
    border-bottom: 1px solid #fff;
}

footer h2,
footer h3 {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

/* Pagina inicial */

.container-inicio {
    display: flex;
    justify-content: center;
    height: 640px;
    align-items: center;
    flex-direction: column;
}


.container-inicio img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.container-inicio h2 {
    margin: 20px;
    padding: 20px;
    color: #2e2ee9;
    text-align: center;
}

/* Formulário de cadstro de usuários */

.container-formUsuario {
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.formUsuario2 {
    width: 300px;
    height: 400px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.formUsuario2 h2 {
    text-align: center;
    margin: 10px;
    color: #2e2ee9;
}

.formUsuario .campos {
    display: flex;
    flex-direction: column;
}

.formUsuario .campos label {
    color: #2e2ee9;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.formUsuario .campos input {
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.formUsuario .botoes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 5px;
}


.formUsuario .botoes input {
    background-color: #2e2ee9;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    flex: 1;
}

.formUsuario .botoes input:hover {
    opacity: .9;
}

/* Página de erro */

.container-erro {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e2ee9;
    font-weight: bold;
    font-size: 24px;
}

/* Página de login */

.container-login {
    display: flex;
    height: 640px;
    justify-content: center;
    align-items: center;
}

.login2 {
    width: 300px;
    height: 300px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;

}

.login2 h2 {
    text-align: center;
    color: #2e2ee9;
    font-weight: bold;
    margin: 10px;
}

.login2 form .campos {
    display: flex;
    flex-direction: column;
}

.login2 form label {
    color: #2e2ee9;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.login2 form .dados input {
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.login2 form .botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.login2 form .botoes input {
    background-color: #2e2ee9;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 10px;

}


.login2 form .botoes input:hover {
    opacity: .9;
}

/* tela inicial logada */
.container-logado nav {
    background-color: #990000;


}

.container-logado a {
    color: #fff;
}

/* Pagina de cadastro de vencimentos */

.container-cadastrarVencimentos {
    display: flex;
    justify-content: center;
    height: 640px;
    align-items: center;
}

.cadastrarVencimento2 {
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    width: 300px;
    height: 600px;
    padding: 10px;
}

.cadastrarVencimento2 .campos {
    display: flex;
    flex-direction: column;
}

.cadastrarVencimento2 h2 {
    color: #2e2ee9;
    margin: 10px;
    text-align: center;
}

.cadastrarVencimento2 label {
    color: #2e2ee9;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.cadastrarVencimento2 input {
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.cadastrarVencimento2 .botoes {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.cadastrarVencimento2 .botoes input {
    background-color: #2e2ee9;
    color: #fff;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
    width: 200px;

}

/* Navegação detela incial de logado */

.container-logado ul {
    display: flex;
    height: 40px;
    background-color: #990000;
    justify-content: right;
    gap: 10px;

}

.container-logado ul li {
    list-style: none;
}


.container-logado ul li input {
    background-color: #990000;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #990000;
    line-height: 35px;
}

.container-logado ul li input:hover {

    opacity: .9;
}

/* Páigna d eexibir vencimentos */

.container-exibirVencimentos {
    min-height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.meusVencimentos2 {
    width: 600px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.meusVencimentos2 h2 {
    color: #2e2ee9;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}



.vencimentos2 {
    color: #2e2ee9;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.vencimentos2 input {
    background-color: #2e2ee9;
    color: #fff;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.vencimentos2 input:hover {
    opacity: .9;
}

.vencimentos2 p {
    line-height: 40px;
}

/* Detalhes do vencimento */

.container-detalhesVencimento {
    display: flex;
    justify-content: center;
    min-height: 640px;
    align-items: center;
}

.detalhes2 {
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 30px;
}

.detalhes2 h2 {
    color: #2e2ee9;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.detalhes2 span {
    color: #2e2ee9;
}

.acoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.acoes input {
    background-color: #2e2ee9;
    color: #fff;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.acoes input:hover {
    opacity: .9;
}