* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    background-color: #2e2ee9;
    color: #fff;
    height: 50px;
}

figcaption img {
    width: 50px;
    height: 50px;
    border: 1px solid #2e2ee9;
}

nav a {
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;

}

nav a:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

/* container princiapl do main (container) */
.container {
    min-height: 640px;
}

/* rodapé */

footer {
    background-color: #2e2ee9;
    color: white;
    padding: 10px;
}

.colunas {
    display: flex;
    justify-content: space-around;
}

.coluna a {
    text-decoration: none;
    color: #fff;

}

.coluna ul {
    list-style: none;
}

.coluna a:hover {
    border-bottom: 1px solid #fff;
}

footer h2,
footer h3 {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

/* Pagina inicial */

.container-inicio {
    display: flex;
    justify-content: center;
    height: 640px;
    align-items: center;
    flex-direction: column;
}


.container-inicio img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.container-inicio h2 {
    margin: 20px;
    padding: 20px;
    color: #2e2ee9;
    text-align: center;
}

/* Formulário de cadstro de usuários */

.container-formUsuario {
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.formUsuario2{
    width: 300px;
    height: 400px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
}

.formUsuario2 h2{
    text-align: center;
    margin: 10px;
    color:#2e2ee9;
}

.formUsuario .campos{
    display: flex;
    flex-direction: column;
}

.formUsuario .campos label{
    color:#2e2ee9;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.formUsuario .campos input{
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.formUsuario .botoes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 5px;
}


.formUsuario .botoes input{
    background-color: #2e2ee9;
    color:#fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2e2ee9;
    border-radius: 10px;
    flex: 1;
}  

.formUsuario .botoes input:hover{
    opacity: .9;
}